//page faq
.p-faq {
    .c-breadcrumb {
        &__list {
            margin-left: -1;
        }

        &__item {
            &::before {
                margin: 0 21px 0 16px;
            }
        }

        &__featureimg {
            background-image: url("../assets/img/faq/faq.jpg");
        }
    }

    .is-overlay {
        background-color: rgba(0, 0, 0, 0.2);
    }
}
