//page-top
.p-index {
    .c-header {
        &::before {
            height: 96px;
        }

        &__contact {
            padding-top: 0;
            margin-top: 21px;
        }

        &__book {
            background-image: url("../assets/img/redflower.png");
            width: 119px;
            height: 119px;
            right: 135px;
            top: 69px;
            padding-top: 5px;
            padding-left: 8px;
            font-feature-settings: "palt" 1;
        }

        &__address {
            background-image: url("../assets/img/blueflower.png");
            width: 107px;
            height: 106px;
            right: 20px;
            top: 134px;
            padding-top: 9px;
        }
    }

    .c-nav {
        margin-top: -6.4%;

        @include tab {
            margin: -1.1% auto 0;
        }

        @include sp {
            margin: -7% auto 0;
        }

        &__menu {
            margin-top: 9.8%;
        }
    }

    .c-mainvisual {
        display: block;
    }
}
