.c-mainvisual {
    position: relative;

    &::after {
        content: "";
        background-image: url("./assets/img/flagleft.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        width: 218px;
        height: 96px;
        display: block;
        top: 0;
        left: 0;
        position: absolute;

        @include tab {
            display: none;
        }
    }

    &::before {
        content: "";
        background-image: url("./assets/img/flag.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        width: 214px;
        height: 96px;
        display: block;
        top: 0;
        right: 0;
        position: absolute;

        @include tab {
            display: none;
        }
    }

    &__text {
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: 1.5px;
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    &__book {
        background-image: url("./assets/img/redflower.png");
        width: 119px;
        height: 119px;
        right: 135px;
        top: 69px;
        padding-top: 5px;
        padding-left: 8px;
        font-feature-settings: "palt" 1;
    }

    &__address {
        background-image: url("./assets/img/blueflower.png");
        width: 107px;
        height: 106px;
        right: 20px;
        top: 134px;
        padding-top: 9px;
    }

    &__list {
        z-index: -1;
    }

    &__img {
        background-size: cover;
        background-position: center;
        height: 500px;

        @include sp {
            height: 300px;
        }
    }

    .slick-slider {
        height: 500px;
        overflow-y: hidden;

        @include sp {
            height: 300px;
        }
    }

    .slick-list {
        height: 100%;
    }

    .slick-track {
        height: 100%;
    }

    &__first {
        background-image: url("../assets/img/slide1.jpg");

        @include tab {
            background-image: url("../assets/img/slide1tab.jpg");
        }

        @include sp {
            background-image: url("../assets/img/slide1sp.jpg");
        }
    }

    &__second {
        background-image: url("../assets/img/slide2.jpg");

        @include tab {
            background-image: url("../assets/img/slide2tab.jpg");
        }

        @include sp {
            background-image: url("../assets/img/slide2sp.jpg");
        }
    }

    &__third {
        background-image: url("../assets/img/slide3.jpg");

        @include tab {
            background-image: url("../assets/img/slide3tab.jpg");
        }

        @include sp {
            background-image: url("../assets/img/slide3sp.jpg");
        }
    }

    &__four {
        background-image: url("../assets/img/slide4.jpg");

        @include tab {
            background-image: url("../assets/img/slide4tab.jpg");
        }

        @include sp {
            background-image: url("../assets/img/slide4sp.jpg");
        }
    }

    &__inner {
        position: absolute;
        top: 81.5%;
        left: 28.6%;
        transform: translate(-50%, -50%);

        @include tab {
            left: 0.1%;
            top: 81.5%;
            padding-left: 20px;
            transform: translate(0, -50%);
        }

        @include sp {
            padding-left: 10px;
            top: 77.5%;
        }
    }
}
