/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-btn {
    padding: 9px 0 7px;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2;
    letter-spacing: 1.5px;
    border: $green 1px solid;
    font-feature-settings: "palt" 1;
    color: $green;
    border-radius: 3px;
    margin: 0 auto;
    max-width: 218px;
    display: block;
    text-align: center;

    &:hover {
        background-color: $green;
        color: #fff;
        opacity: 1;
    }
}

.c-btnred {
    padding: 11px 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.7;
    letter-spacing: 1.5px;
    font-feature-settings: "palt" 1;
    color: #fff;
    border-radius: 3px;
    margin: 0 auto;
    max-width: 220px;
    display: block;
    text-align: center;
    background-color: $red;

    &:hover {
        opacity: 1;
    }
}
