.c-table {
    margin: 31px auto 25px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-feature-settings: "palt" 1;
    letter-spacing: 0;

    &__tr {
        &:last-child {
            border-bottom: 1px solid #ccc;
        }
    }

    &__th,
    &__td {
        border: 1px solid #ccc;
        width: 25%;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.875;
    }     
      
    &__th {
        color: #fff;
        padding: 14px 15px 10px 13px;

        &--flex {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 12px 14px 10px;
        }

        &--cols2 {
            width: 50%;
        }

        &--white {
            background-color: #fff;
            text-align: right;
            padding: 12px 10px 10px;
            line-height: 1.25;
            color: #000;
        }
    }

    &__textth {
        width: 50%;
        text-align: left;
    }

    &__td {
        color: #595e63;
        padding: 12px 10px 10px;

        &--cols2 {
            width: 50%;
        }
    }

    &__note {
        margin-bottom: 21px;
    }

    &__itemstar {
        color: $text-blue;
        font-size: 1.6rem;
        line-height: 1.875;
        letter-spacing: 0;
        font-weight: 700;
        font-feature-settings: "palt" 1;

        &::before {
            content: "★ ";
            margin-left: -1px;
        }
    }

    &__text {
        &--fs14 {
            font-size: 1.4rem;
        }
    }

    &--type2 {
        .c-table {
            &__tr {
                &:nth-child(1) {
                    .c-table {
                        &__th {
                            &:last-child {
                                padding: 14px 25px 10px 14px;
                            }
                        }
                    }
                }

                &:nth-child(4) {
                    .c-table {
                        &__th {
                            padding: 9px 12px 5px;
                        }
            
                        &__textfs14 {
                            line-height: 1.25;
                        }
                    }
                }
            }

            &__th {             
                padding: 14px 15px 10px;

                &--white {
                    width: 50% !important;
                    max-width: 245px;
                }

                &--flex {
                    width: 100% !important;
                    padding: 12px 12px 9px;
                    align-items: center;
                }
            }

            &__td {
                padding: 12px 15px 10px 10px;
            }

            &__textfs14 {
                width: 27%;
            }
        }

    }
}
