/*------------------------------------------------------------
line
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-flink {
    background-color: #ebf3f6;
    height: 55px;

    &__list {
        display: flex;
        width: 100%;
        padding: 11px 1px;
        text-align: center;
        font-feature-settings: "palt";
        font-size: 1.4rem;
        line-height: 2.5;
        letter-spacing: 1.4px;

        @include tab {
            padding: 11px 1px;
        }
    }

    &__item {
        flex: 1;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            left: -1px;
            top: 48%;
            transform: translateY(-50%);
            height: 18px;
            border-left: 2px solid #fff;
        }

        &:last-child {
            &::after {
                position: absolute;
                content: "";
                right: -1px;
                top: 48%;
                transform: translateY(-50%);
                height: 18px;
                border-left: 2px solid #fff;
            }
        }
    }
}

.is-call {
    pointer-events: none;

    @include tab {
        pointer-events: initial;
    }
}

.flower {
    position: relative;
    width: 100px;
    height: 100px;
}

.c-anchor {
    display: flex;
    justify-content: flex-end;
    font-feature-settings: "palt" 1;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.14em;
    color: $text-color;
    line-height: 4.3;
    @include sp {
        flex-direction: column;
        line-height: 3;
    }

    a {
        transition: 0.6s all linear;
    }

    &__item {
        margin-left: 50px;
        @include sp {
            margin-left: 0;
        }

        &::before {
            color: #41c9e3;
            font-family: "Font Awesome 5 Free";
            content: "\f103";
            font-weight: 600;
            margin-right: 13px;
        }
    }
}
