.c-info {
    background: linear-gradient(to right, #68a3b3 50%, #46c4dc 50%);

    .l-container__w980 {
        padding: 0;
    }

    &__main {
        display: flex;
        flex-wrap: wrap;
        @include sp {
            flex-direction: column;
        }
    }

    &__col {
        flex-basis: 50%;
        color: #fff;
        letter-spacing: 0.1em;
        font-feature-settings: "palt" 1;

        @include tab {
            width: 100%;
        }
    }

    &__left {
        background-color: #68a3b3;
        font-size: 1.4rem;
        line-height: 1.8;
        font-weight: 500;
        padding-right: 30px;
        padding-top: 24px;
        padding-bottom: 18px;
        @include tab {
            padding: 24px 30px 18px 23px;
        }
    }

    &__address {
        margin-bottom: 25px;
    }

    &__tel {
        font-size: 2.6rem;
        line-height: 1;
        font-weight: 700;
        margin-left: -2px;
        margin-top: 20px;
        margin-bottom: 2px;
        letter-spacing: 0.1em;
        @include tab {
            margin-left: -1px;
        }
    }

    &__fax {
        font-size: 1.5rem;
        line-height: 1.67;
        letter-spacing: 0.08em;
    }

    &__right {
        background-color: #46c4dc;
        padding-left: 47px;
        padding-top: 26px;
        padding-bottom: 18px;
    }

    &__title {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2.2;
        letter-spacing: 0.1em;
        padding-left: 20px;
        margin-bottom: 4px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 5px;
            left: 0;
            border-right: 5px solid #fff;
            height: 25px;
        }
    }

    &__heading {
        font-size: 1.5rem;
        line-height: 1.8;
        letter-spacing: 0.1em;
    }

    &__stationtext {
        font-size: 1.4rem;
        line-height: 1.8;
        letter-spacing: 0.1em;
        font-weight: 500;
        margin-bottom: 23px;
        @include tab {
            padding-right: 20px;
        }
    }

    &__trollertext {
        font-size: 1.5rem;
        line-height: 1.67;
        letter-spacing: 0.1em;
        margin-top: -1px;
        @include tab {
            margin-top: 0;
            padding-right: 20px;
        }
    }
}
