.c-pagetitle {
    font-weight: 500;
    font-size: 2.4rem;
    letter-spacing: 0;
    line-height: 1.8;
    font-feature-settings: "palt" 1;
    color: #010000;
    @include tab {
        line-height: 1.9;
    }
    @include sp {
        font-size: 1.6rem;
        line-height: 1.3;
        color: #222;
        font-weight: 700;
    }

    &__text {
        display: block;
        background-color: rgb(255, 255, 255);
        margin-bottom: 5px;
        padding-left: 12px;
        letter-spacing: -1.5px;
        padding-right: 16px;
        height: 40px;
        width: fit-content;
        @include tab {
            letter-spacing: -1.2px;
        }
        @include sp {
            height: 18.5px;
            margin-bottom: 10px;
            letter-spacing: 0;
            padding-left: 9px;
            padding-right: 8px;
        }

        &:first-child {
            letter-spacing: 3px;
            padding-right: 5px;
            line-height: 1.9;
            @include sp {
                line-height: 1.3;
                letter-spacing: 0;
                padding-right: 11px;
            }
        }

        &:last-child {
            padding-right: 10px;
            @include sp {
                padding-right: 8px;
            }
        }
    }
}
