.c-about {
    display: flex;
    padding-top: 65px;
    justify-content: space-between;
    position: relative;

    @include tab {
        padding-top: 8px;
    }

    @include sp {
        padding-top: 34px;
    }

    &__main {
        width: 100%;
        text-align: center;
        color: #000;
        position: relative;
        padding-top: 29px;
        margin: 0 auto;
        font-feature-settings: "palt" 1;
        padding-bottom: 100px;

        @include tab {
            padding-bottom: 69px;
            padding-top: 30px;
        }
        @include sp {
            padding: 0 16px 40px;
        }
    }

    &__wrapimg {
        position: absolute;
    }

    &__decorleft {
        top: 11.7%;
        display: block;
        left: 4px;
        width: 25.5%;

        @include tab {
            left: 3%;
            top: 2.8%;
            width: 5%;
        }

        @include sp {
            display: none;
        }
    }

    &__decorright {
        display: block;
        width: 22.5%;
        right: 0;
        top: 11.1%;

        @include tab {
            width: 9%;
            top: 4.1%;
            right: 1px;
        }

        @include sp {
            display: none;
        }
    }

    &__title {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.75;
        letter-spacing: 4.5px;
        margin-bottom: 22px;

        @include tab {
            font-size: 2rem;
            letter-spacing: 2.5px;
            margin-bottom: 25px;
        }

        @include sp {
            font-size: 1.6rem;
            letter-spacing: 0;
            margin-bottom: 22px;
        }
    }

    &__text {
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9;
        letter-spacing: 0;
        padding-right: 3px;

        @include tab {
            margin-bottom: 24px;
        }

        @include sp {
            font-size: 1.2rem;
            line-height: 1.7;
            padding-right: 0;
            margin-bottom: 15px;
        }
    }

    &__btn {
        margin: -3px auto 0;
        padding: 9px 6px 4px 2px;
        transform: translateX(-2px);
        max-width: 265px;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2;
        letter-spacing: 0;
        border: $red 1px solid;
        color: $red;
        display: block;
        text-align: center;

        @include tab {
            margin: 50px auto 0;
        }

        @include sp {
            font-size: 1.5rem;
            border-radius: 3px;
            max-width: 215px;
            margin: 34px auto 0;
            padding: 8px 6px 6px 2px;
        }

        &:hover {
            color: #fff;
            background-color: $red;
            opacity: 1;
        }
    }

    &__btntext {
        padding-left: 8px;
        @include sp {
            padding-left: 5px;
        }
    }

    &__wrapbanner {
        @include sp {
            margin: 25px auto 0;
            width: 97%;
            max-width: 280px;
        }
       
    }
}
