.c-point {
    display: flex;

    @include tab {
        flex-direction: column;
    }

    &__top {
        background-color: rgb(65, 201, 227);
        width: 15%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 47px 45px 0 0;

        @include tab {
            width: 100%;
            align-items: flex-start;
            padding: 46px 45px 40px 42px;
            flex-direction: row;
            justify-content: space-between;
        }
        @include sp {
            padding: 13px 20px 9px 18px;
        }
    }

    &__title {
        writing-mode: vertical-rl;
        font-weight: 700;
        line-height: 1;
        font-size: 2.5rem;
        color: #fff;
        letter-spacing: -3.5px;

        @include tab {
            writing-mode: horizontal-tb;
            display: flex;
            flex-direction: column-reverse;
            letter-spacing: -3px;
        }
        @include sp {
            font-size: 1.5rem;
            letter-spacing: -2.5px;
            line-height: 1.3;
        }
    }

    &__subtitle {
        display: block;
        font-weight: 500;
        font-size: 1.5rem;
        letter-spacing: 1.5px;
        color: #a0e5f5;
        line-height: 1.7;
        padding-top: 3px;
        margin-left: 12px;
        @include tab {
            padding-top: 7px;
            margin-left: 3px;
        }
        @include sp {
            font-size: 1.2rem;
            letter-spacing: 0;
            padding-top: 1px;
            margin-left: 0;
        }
    }

    &__main {
        display: flex;
        width: 85%;
        flex-direction: column;
        font-feature-settings: "palt" 1;

        @include tab {
            width: 100%;
        }
    }

    &__list {
        display: flex;
        @include tab {
            flex-wrap: wrap;
        }
    }

    &__feature {
        max-width: 340px;
        @include sp {
            max-width: 94px;
        }
    }

    &__featureimg {
        width: 100%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-self: normal;
        max-width: 25%;
        width: 100%;
        letter-spacing: 0;
        font-weight: 700;
        line-height: 1.3;
        border-left: 1px solid #ccc;
        @include tab {
            max-width: 50%;
            flex-direction: row;
            border-left: 0;
            border-bottom: 1px solid #ccc;
        }
        @include sp {
            max-width: 100%;
            line-height: 1.4;
        }
    }

    &__red {
        color: #f15024;
        border-color: #f15024;
    }

    &__blue {
        color: #3d61b2;
        border-color: #3d61b2;
    }

    &__green {
        color: #62a836;
        border-color: #62a836;
    }

    &__pink {
        color: #ef89a3;
        border-color: #ef89a3;
    }

    &__itemtitle {
        font-size: 1.5rem;
        @include sp {
            font-size: 1.4rem;
            letter-spacing: 0;
        }
    }

    &__desc {
        font-weight: 400;
        color: #000;
        margin-top: 13px;
        line-height: 1.4;
        letter-spacing: 0.8px;
        @include sp {
            font-size: 1.2rem;
            letter-spacing: 0;
            margin-top: 9px;
            line-height: 1.6;
        }
    }

    &__info {
        max-width: 340px;
        padding: 19px 19px 12px;
        border-top: 3px solid;
        @include tab {
            max-width: 262px;
            border-top: 0;
            border-left: 3px solid;
            padding: 43px 15px 42px;
        }
        @include sp {
            border-left: 2px solid;
            padding: 18px 13px 16px;
        }
    }

    &__features {
        display: flex;
        margin-top: auto;
        @include tab {
            flex-wrap: wrap;
        }
    }

    &__featureitem {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        padding: 11px 0 10px;
        @include tab {
            width: 50%;
            padding: 10px 0;
        }

        &:nth-child(3) {
            img {
                width: 40px;
                height: 33px;
                padding-top: 3px;
                padding-right: 2px;
                @include tab {
                    padding: 0;
                }
            }
        }

        img {
            margin-right: -2px;
            @include tab {
                margin-right: 0;

            }
        }
    }

    &__darkgreen {
        background-color: #98d1b8;
    }

    &__purple {
        background-color: #9da9cb;
    }

    &__darkpink {
        background-color: #e0aab7;
    }

    &__yellow {
        background-color: #e7cc6d;
    }

    &__featuretext {
        color: #fff;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0;
        margin-left: 13px;
        @include tab {
            margin-left: 10px;
        }
    }

    &__btn {
        margin-top: 112px;
        padding-right: 20px;
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: 1px;
        font-feature-settings: "palt" 1;
        color: #fff;
        line-height: 1.7;
        @include tab {
            margin-top: 7px;
            padding-right: 3px;
        }
        @include sp {
            font-size: 1.4rem;
            letter-spacing: 0;
            margin-top: -2px;
        }

        &::after {
            content: "";
            background-image: url("../assets/img/arrow.svg");
            display: block;
            width: 76px;
            height: 8px;
            @include tab {
                position: relative;
                top: -1px;
                right: -1px;
            }
            @include sp {
                width: 70px;
                height: 10px;
                background-image: url("../assets/img/arrowsp.png");
            }
        }
    }
}
