.c-staff {
    background-color: #f8fff9;
    padding: 69px 0;

    @include tab {
        padding: 70px 0 69px;
    }

    @include sp {
        padding: 47px 0;
    }

    &__top {
        text-align: center;
    }

    &__main {
        margin-top: 43px;

        @include sp {
            margin-top: 29px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;

        @include tab {
            flex-direction: column;
            max-width: 756px;
            margin: 0 auto;
            padding: 0 28px;
        }

        @include sp {
            padding: 0;
            max-width: 375px;
        }
    }

    &__wrapitem {
        max-width: 260px;

        &:nth-child(2) {
            @include tab {                
                margin-bottom: 51px;
            }
            @include sp {
                margin-bottom: 44px;
            }

            .c-staff__bottom {
                margin-left: -1px;

                @include tab {
                    margin-left: 0;
                    margin-top: -6px;
                }
                @include sp {
                    margin-top: -1px;
                }
            }

            .c-staff__mess {
                @include sp {
                    margin-right: -3px;
                }
            }

            .c-staff__moreinfo {
                &:last-child {
                    .c-staff__text {
                        @include sp {
                            width: 74%;
                        }
                    }
                }
            }
        }

        &:first-child {
            .c-staff__mess {
                margin-right: -4px;
                margin-top: -1px;
            }
        }

        @include tab {
            max-width: 100%;
            margin-bottom: 50px;

            &:first-child {
                .c-staff__mess {
                    letter-spacing: 2px;
                    margin: 0 -1px;

                    @include sp {
                        letter-spacing: 1.1px;
                        margin-top: 0;
                        margin-right: 0;
                    }
                }

                .c-staff__more {
                    margin-top: 33px;

                    @include sp {
                        margin-top: 23px;
                        padding-left: 0;
                    }
                }

                .c-staff__moreinfo {
                    letter-spacing: 2px;

                    @include sp {
                        letter-spacing: 1px;

                        &:last-child {
                            .c-staff__text {
                                padding-right: 25px;
                            }
                        }
                    }
                }

                .c-staff__infotext {
                    @include sp {
                        margin-bottom: 3px;
                    }
                }

            }
        }

        @include sp {
            margin-bottom: 33px;
        }

        &:last-child {
            @include sp {
                .c-staff__infotext {
                    margin-bottom: 4px;
                }

                .c-staff__mess {
                    margin-right: -3px;
                }
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-self: normal;
        height: 100%;

        @include tab {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__itemtop {
        position: relative;
        width: 100%;
        border-radius: 50%;

        @include tab {
            width: 60%;
            max-width: 260px;
            max-height: 260px;
        }

        @include sp {
            max-width: 75px;
            margin-top: 3px;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        height: 100%;

        @include tab {
            width: 65%;
            margin-top: -3px;
            padding-left: 13px;
        }

        @include sp {
            width: 72.5%;
            margin-top: -1px;
        }
    }

    &__wrapimg {
        height: 260px;
        position: relative;

        @include sp {
            width: 100%;
            height: auto;
            padding-bottom: 100%;
            overflow: hidden;
        }
    }

    &__avatar {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;

        @include sp {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-position: right center;
        }
    }

    &__info {
        position: absolute;
        bottom: 6px;
        left: 25px;

        @include tab {
            left: 25px;
        }

        @include sp {
            left: unset;
            top: 7px;
            bottom: unset;
            position: relative;
        }
    }

    &__infotext {
        font-weight: 700;
        font-size: 1.3rem;
        letter-spacing: 1.3px;
        line-height: 2;
        background-color: #fff;
        color: #000;
        margin-bottom: 6px;
        height: 24px;
        width: fit-content;
        padding: 0 7px 0 10px;
        border-radius: 3px;
        font-feature-settings: "palt" 1;

        @include sp {
            padding: 0;
            font-size: 1.2rem;
            line-height: 1;
            letter-spacing: 1.2px;
            font-weight: 700;
            background-color: transparent;
            margin-bottom: 19px;
            height: 12px;
        }
    }

    &__position {
        @include sp {
            font-size: 0.9rem;
            line-height: 1.7;
            letter-spacing: 0.8px;
            font-weight: 400;
        }
    }

    &__mess {
        font-weight: 400;
        font-size: 1.5rem;
        letter-spacing: 1.4px;
        line-break: anywhere;
        font-feature-settings: "palt" 1;
        line-height: 1.67;
        color: #000;
        padding: 17px 0 15px 1px;
        height: 100%;
        margin-right: -2px;

        @include tab {
            padding: 0;
            margin-right: 0;
            letter-spacing: 0.1em;
        }

        @include sp {
            letter-spacing: 1.1px;
            margin-top: 0;
            font-size: 1.2rem;
            line-height: 1.7;
        }
    }

    &__more {
        margin-top: auto;

        @include tab {
            margin-top: 33px;
        }

        @include sp {
            margin-top: 25px;
            padding-left: 1px;
        }
    }

    &__moreinfo {
        font-weight: 400;
        letter-spacing: 1.4px;
        font-size: 1.4rem;
        line-height: 1.8;
        color: #000;
        font-feature-settings: "palt" 1;
        display: flex;
        justify-content: space-between;

        @include sp {
            font-size: 1.2rem;
            line-height: 1.67;
            letter-spacing: 0.1em;

            span {
                &:last-child {
                    width: 73.5%;
                    margin-top: 3px;
                    padding-right: 0;
                }
            }
        }
    }

    &__label {
        color: #fff;
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: 1.5px;
        line-height: 1.67;
        padding: 0 6px;
        border-radius: 3px;
        margin-bottom: 3px;
        width: 17.4%;
        max-width: 45px;

        @include tab {
            width: 16%;
        }

        @include sp {
            margin-bottom: 5px;
            margin-right: 1px;
            padding: 6px 9px;
            font-size: 1.2rem;
            line-height: 1;
            vertical-align: top;
            height: 25px;
            width: 27%;
        }
    }

    &__text {
        width: 77%;

        @include tab {
            width: 86%;
        }
    }

    &__role {
        background-color: #b6dc5c;
    }

    &__level {
        background-color: #9da9cb;
    }

    &__btnmore {
        margin: 75px auto 0;

        @include tab {
            margin-top: 1px;
        }

        @include sp {
            margin-top: 12px;
        }
    }
}
