.c-blog {
    padding: 4.6% 0 4.4%;

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }

    &__item {
        width: 50%;
        display: flex;
        margin-bottom: 44px;
    }

    &__featureimg {
        width: 100%;
        padding: 3px 0;
        position: relative;
        max-width: 179px;
    }

    &__info {
        padding: 1px 13px 1px 14px;
        font-feature-settings: "palt";
    }

    &__label {
        border-radius: 3px;
        background-color: #41c9e3;
        display: inline-block;
        padding: 0 8px 0 9px;
        font-size: 1.2rem;
        line-height: 2.1;
        text-align: center;
        letter-spacing: 1.2px;
        font-weight: 700;
        color: #fff;
        margin-right: 10px;
        margin-left: 1px;
    }

    &__date {
        font-size: 1.3rem;
        color: #ccc;
        font-weight: 700;
        line-height: 1.9;
        letter-spacing: 1.3px;
    }

    &__postname {
        font-size: 1.6rem;
        color: #000;
        font-weight: 700;
        line-height: 1.6;
        letter-spacing: 1.6px;
        margin-top: 13px;
    }

    &__desc {
        margin-top: 11px;
        font-size: 1.5rem;
        color: #000;
        line-height: 1.7;
        font-weight: 400;
        letter-spacing: 1.5px;
    }

    &__btnmore {
        margin-top: 32px;
    }
}
