.c-blog {
    padding: 4.6% 0 4.4%;

    @include tab {
        padding: 7.1% 0 6.9%;
    }

    @include sp {
        padding: 13% 0 15.8%;
    }

    .l-container__w980 {
        @include sp {
            padding: 0 17px;
        }
    }

    &__subtitle {
        padding-right: 0;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 39px;

        @include tab {
            margin: 39px auto 0;
            max-width: 700px;
        }
        @include sp {
            margin: 18px auto 0;
        }
    }

    &__item {
        width: 50%;
        display: flex;
        margin-bottom: 44px;

        @include tab {
            width: 100%;
            margin-bottom: 23px;
        }
        @include sp {
            margin-bottom: 19px;
        }
    }

    &__featureimg {
        width: 100%;
        padding: 3px 0;
        position: relative;
        max-width: 179px;

        @include sp {
            max-width: 75px;
        }
    }

    &__info {
        padding: 2px 13px 1px 14px;
        font-feature-settings: "palt";

        @include tab {
            padding: 4px 13px 1px 14px;
        }
    }

    &__label {
        border-radius: 3px;
        background-color: #41c9e3;
        display: inline-block;
        padding: 0 8px 0 9px;
        font-size: 1.2rem;
        line-height: 2.1;
        text-align: center;
        letter-spacing: 1.2px;
        font-weight: 700;
        color: #fff;
        margin-right: 9px;
        margin-left: 1px;

        @include sp {
            padding: 2px 3px;
            line-height: 1;
            margin-right: 7px;
        }
    }

    &__date {
        font-size: 1.3rem;
        color: #ccc;
        font-weight: 700;
        line-height: 1.9;
        letter-spacing: 1.3px;

        @include sp {
            font-size: 1.2rem;
            line-height: 1.1;
        }
    }

    &__postname {
        font-size: 1.6rem;
        color: #000;
        font-weight: 700;
        line-height: 1.6;
        letter-spacing: 1.6px;
        margin-top: 15px;

        @include sp {
            font-size: 1.2rem;
            line-height: 1.7;
            letter-spacing: 1.2px;
            margin-top: 11px;
        }
    }

    &__desc {
        margin-top: 10px;
        font-size: 1.5rem;
        color: #000;
        line-height: 1.7;
        font-weight: 400;
        letter-spacing: 1.5px;

        @include tab {
            letter-spacing: 1.3px;
            margin-top: 8px;
        }
    }

    &__btnmore {
        margin-top: 32px;

        @include tab {
            margin-top: 25px;
        }
        @include sp {
            margin-top: 13px;
        }
    }
}
