.c-news {
    padding-top: 4.4%;
    padding-bottom: 0.8%;

    @include tab {
        padding-bottom: 6.8%;
    }
    @include sp {        
        padding-bottom: 10.7%;
        padding-top: 3.8%;
    }

    .l-container__w980 {
        @include sp {
            padding: 0;
        }
    }

    &__main {
        display: flex;

        @include tab {
            max-width: 700px;
            margin: 23px auto 0;
            flex-direction: column;
        }
        @include sp {
            max-width: 100%;
        }
    }

    &__col {
        flex-basis: 50%;

        @include tab {
            flex-basis: 100%;
        }
    }

    &__left {
        margin-bottom: 47px;

        @include sp {
            padding: 0 20px;
            margin: 0 auto 33px;
            max-width: 500px;
            width: 100%;
        }
    }     

    &__right {
        @include sp {
            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    &__top {
        display: flex;
        max-width: 440px;
        padding-right: 20px;
        margin-bottom: 13px;

        @include tab {
            padding-right: 0;
            max-width: 100%;
            margin-bottom: 18px;
        }

        @include sp {
            margin: 0 auto 13px;
            max-width: 500px;
        }
    }

    &__list {
        @include sp {
            max-width: 500px;
            margin: 0 auto;
        }
    }

    &__title {
        display: inline-block;
        margin-right: 10px;

        @include sp {
            font-size: 1.6rem;
            line-height: 1.6;
            letter-spacing: 1px;
        }
    }

    &__subtitle {
        display: inline-block;

        @include sp {
            padding-right: 0;
            letter-spacing: 1px;
        }
    }

    &__more {
        position: relative;
        padding-top: 6px;
        margin-left: auto;
        font-size: 1.3rem;
        line-height: 1.9;
        letter-spacing: 0.1em;
        font-weight: 700;

        @include tab {
            padding-top: 2px;
        }

        @include sp {
            letter-spacing: 1px;
        }

        &::after {
            content: "\f105";
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            color: #64c7e1;
            font-size: 1.3rem;
            margin-left: 8px;

            @include tab {
                margin-left: 7px;
            }

            @include sp {
                margin-left: 9px;
            }
        }
    }

    &__item {
        display: flex;
        padding: 5px 0;
        position: relative;
        font-size: 1.5rem;
        line-height: 1.67;
        letter-spacing: 0.1em;
        font-weight: 400;
        font-feature-settings: "palt" 1;

        @include sp {
            font-size: 1.2rem;
            letter-spacing: 1.2px;
            margin-bottom: 9px;
        }
    }

    &__date {
        width: 23.5%;

        @include tab {
            width: 16.5%;
        }

        @include sp {
            line-height: 1.2;
            letter-spacing: 1px;
            width: 42%;
        }
    }

    &__post {
        width: 76.5%;

        @include sp {
            line-height: 1.3;
        }
    }

}
