.c-contact {
    background-color: #65bdcc;
    color: #fff;
    padding: 34px 0 29px;
    font-feature-settings: "palt" 1;
    @include sp {
        padding: 0 0 10px;
    }

    &__main {
        display: flex;
        flex-wrap: wrap;
        @include sp {
            flex-direction: column;
        }
    }

    &__col {
        flex-basis: 50%;
        text-align: center;
        padding: 20px;

        @include tab {
            padding: 21px 20px;
        }
        @include sp {
            padding: 20px 20px 0;
        }
    }

    &__left {
        @include tab {
            flex-basis: 50.5%;

            &:last-child {
                margin-left: -3px;
            }
        }
        @include sp {
            flex-basis: 100%;
        }
    }

    &__right {
        @include tab {
            flex-basis: 49%;
        }
        @include sp {
            flex-basis: 100%;
            padding: 0 15px 20px;
        }
    }

    &__text {
        font-size: 1.6rem;
        line-height: 1.5;
        letter-spacing: 1.6px;
        font-weight: 400;
        @include sp {            
            font-size: 1.4rem;
            line-height: 2.5;

            &:last-child {
                margin-top: -3px;
            }
        }
    }

    &__tel {
        font-size: 4.3rem;
        line-height: 1.1;
        letter-spacing: 4.3px;
        font-weight: 700;
        padding-left: 4px;
        @include sp {
            font-size: 2rem;
            line-height: 1.9;
            letter-spacing: 2px;
        }
    }

    &__reserve {
        font-size: 1.6rem;
        line-height: 1.6;
        letter-spacing: 1.6px;
        font-weight: 700;
        margin-bottom: 16px;
        @include sp {
            font-size: 1.5rem;
            line-height: 2.67;
            margin-top: 2px;
            margin-bottom: 9px;
        }
    }
}
