.c-company {
    padding-top: 4.5%;
    padding-bottom: 3%;
    border-bottom: 1px solid #ccc;
    @include tab {
        padding-top: 7%;
        padding-bottom: 6.7%;
    }
    @include sp {
        padding-top: 13.9%;
        padding-bottom: 15.6%;
    }

    &__list {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 46px;
        @include tab {
            max-width: 720px;
            margin: 46px auto 0;
        }
        @include sp {
            margin: 25px auto 0;
            padding: 0 18px;
            max-width: 500px;
        }
    }

    &__wrapimg {
        margin-bottom: 18px;
        flex-basis: 23.5%;
        border: 1px solid #ccc;
        @include tab {
            margin-bottom: 13px;
        }
        @include sp {
            flex-basis: 46.5%;
            margin-bottom: 13px;
        }
    }

    &__btnmore {
        margin: 21px auto;
        @include tab {
            margin: 78px auto 0;
        }
        @include sp {
            margin: 27px auto 0;
        }
    }
}
