.c-label {
    font-feature-settings: "palt" 1;
    color: #fc522b;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 1.875;
    background-color: #ffebe7;
    padding: 3px 16px 2px 19px;
    border-radius: 17px;
    position: relative;
    top: 3px;
    right: 2px;
}
