///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/


//------------------------------------------------------------
// margin
//------------------------------------------------------------

//------------------------------------------------------------
// color
//------------------------------------------------------------
.u-text {
    &__blue {
        color: $text-blue;
    }

    &__black {
        color: #000;
    }

    &__center {
        text-align: center;
    }

    &--underline {
        text-decoration: underline;
    }
}

.u-blue {
    background-color: $text-blue;
}

.u-darkgreen {
    background-color: #4b656c;
}

.u-grey {
    background-color: #fafafa;
    color: #222;
}

.u-red {
    background-color: $red;
}
//------------------------------------------------------------
// text
//------------------------------------------------------------
.u-bold {
    font-weight: 700;
}

.u-normal {
    font-weight: 400;
}

.u-list {
    &__none {
        &::before {
            content: "";
        }
    }
}
//------------------------------------------------------------
// border
//------------------------------------------------------------
.u-border{
    border-top: 0;
    border-left: 0;
}