//base width
$w980: 1020px;
$main-fonts: YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//color common
$red: #e74857;
$green: #50717a;
//text
$text-color: #000;
$text-blue: #41c9e3;
