/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    padding-bottom: 6%;

    &__top {
        display: flex;
        border-bottom: 1px solid #ccc;
        padding: 44px 0 31px;
        font-size: 1.4rem;
        line-height: 1.8;
        font-feature-settings: "palt" 1;

        @include tab {
            padding: 44px 0 32px;
        }

        @include sp {
            flex-direction: column;
            padding: 20px 0 19px;
        }
    }

    &__logo {
        width: 200px;

        @include sp {
            display: block;
            width: 181px;
            margin: 0 auto;
        }
    }

    &__social {
        display: none;

        @include sp {
            display: flex;
            justify-content: space-between;
            margin: 20px auto 0;
        }
    }

    &__socialitem {
        width: 25px;
        margin: 0 5px;
    }

    &__info {
        padding-left: 38px;
        text-align-last: left;
    }

    &__main {
        font-size: 1.2rem;
        line-height: 3;
        letter-spacing: 1.2px;
        font-feature-settings: "palt" 1;
        color: #a0a0a0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 10px;
        text-align: center;
        @include tab {
            padding-bottom: 22px;
        }

        @include sp {
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: 0;
            padding-bottom: 35px;
        }
    }

    &__nav {
        flex: 0 0 auto;
        padding-top: 9px;
        display: flex;
        @include tab {
            flex: 1;
            flex-basis: 32.1%;
        }

        @include sp {
            display: none;
        }
    }

    &__link {
        margin-right: 25px;
        @include tab {
            margin-right: 3.9%;

            &:last-child {
                margin-right: 5px;
            }
        }
    }

    &__copyright {
        flex: 0 0 auto;
        padding-top: 7px;
        margin-right: -2px;

        @include sp {
            flex: 1;
            padding-top: 0;
            margin-right: 0;
        }
    }
}
