/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }
}

//-------------------------------------------------------
.l-container {
    width: 100%;
    margin: 0 auto;

    &__w980 {
        max-width: $w980;
        padding: 0 20px;
    }
}
//-------------------------------------------------------

