<%- include('_layouts/layout', { title: 'Kindergaten Hanaito | Home page', id:'p-index'}); -%>

  <!-- @meta -->
  <meta name="description" content="Kindergaten Hanaito | Home page">
  <!-- @@meta -->

  <!-- @content -->
  <main>
    <%- include('_partials/about'); -%>
      <%- include('_partials/point'); -%>
        <%- include('_partials/staff'); -%>
          <%- include('_partials/company'); -%>
            <%- include('_partials/blog'); -%>
              <div class="c-map">
                <div class="c-map__btn is-notsp">
                  <div class="c-map__text">名駅から徒歩<span
                      class="c-map__number">6</span>分</div>
                </div>
                <div class="c-map__wrapmap">
                  <iframe class="c-map__map"
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6522.539396562183!2d136.884991!3d35.17483!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600376c2eec25503%3A0xd330ff6952b549a7!2z44Ko44Og44OG44OD44KvIOOCteODs-OCqOOCueOCseODvOODk-ODq-ODkeODvOOCreODs-OCsA!5e0!3m2!1sja!2s!4v1674110919917!5m2!1sja!2s"></iframe>
                </div>
              </div>
              <%- include('_partials/info'); -%>
                <%- include('_partials/news'); -%>
                  <%- include('_partials/gallery'); -%>
                    <%- include('_partials/contact'); -%>
                      <div class="c-flink is-notsp">
                        <div class="l-container l-container__w980">
                          <ul class="c-flink__list">
                            <li class="c-flink__item"><a href="#">はないとについて</a></li>
                            <li class="c-flink__item"><a href="#">料金</a></li>
                            <li class="c-flink__item"><a href="#">1日の流れ</a></li>
                            <li class="c-flink__item"><a href="#">スタッフ紹介</a></li>
                            <li class="c-flink__item"><a href="#">ブログ</a></li>
                            <li class="c-flink__item"><a href="#">よくある質問</a></li>
                          </ul>
                        </div>
                      </div>
  </main>
  <!-- @@content -->