<%- include('_layouts/layout', { title: 'Kindergaten Hanaito | 料金' , id:'p-price', name:'料金', category:'',
  subname:'price', links:[ {link:'#p-price__first', title:'一時お預かり' }, {link:'#p-price__second', title:'タイムチケット'},
  {link:'#p-price__third', title:'月極' }, {link:'#p-price__fourth', title:'オプション'}, {link:'#p-price__fifth',
  title:'提携法人様' } ]}); -%>

  <!-- @meta -->
  <meta name="description" content="Kindergaten Hanaito | Price page">
  <!-- @@meta -->
  <!-- @content -->
  <main>
    <div class="l-container l-container__w980">
      <div class="p-price__desc">ご予約の方法は<a class="u-text__blue u-text--underline" href="#">空き状況確認・ご予約ページ</a>からご確認いただけます。
      </div>
    </div>
    <!-- Start section first -->
    <section id="p-price__first">
      <div class="l-container l-container__w980">
        <div class="c-group">
          <div class="c-group__top">
            <div class="c-group__top--left">
              <h2 class="c-gtitle">一時お預かり</h2>
            </div>
            <div class="c-grop__top--right">
              <p class="c-label">ランチ・おやつ・ミルク・お教室込み！</p>
            </div>
          </div>
          <table class="c-table">
            <tbody>
              <tr class="c-table__tr">
                <th class="c-table__th c-table__th--white u-border">(30分あたり)</th>
                <th class="c-table__th u-darkgreen">〜0歳</th>
                <th class="c-table__th u-darkgreen">1〜2歳</th>
                <th class="c-table__th u-darkgreen">3歳以上</th>
              </tr>
              <tr class="c-table__tr">
                <th class="c-table__th c-table__th--flex u-blue"><span class="c-table__textth u-bold">基本料金</span><span
                    class="c-table__textth u-normal">8:00~18:00</span></th>
                <td class="c-table__td">1,000円</td>
                <td class="c-table__td">800円</td>
                <td class="c-table__td">600円</td>
              </tr>
              <tr class="c-table__tr">
                <th class="c-table__th c-table__th--flex u-blue"><span class="c-table__textth u-bold">時間外料金</span><span
                    class="c-table__textth u-normal">18:00~21:00</span>
                </th>
                <td class="c-table__td">1,200円</td>
                <td class="c-table__td">1,000円</td>
                <td class="c-table__td">800円</td>
              </tr>
              <tr class="c-table__tr">
                <th class="c-table__th c-table__th--flex u-blue"><span class="c-table__textth u-bold">夜間料金</span><span
                    class="c-table__textth u-normal">21:00~</span></th>
                <td class="c-table__td">1,400円</td>
                <td class="c-table__td">1,200円</td>
                <td class="c-table__td">1,000円</td>
              </tr>
              <tr class="c-table__tr">
                <th class="c-table__th c-table__th--flex u-blue"><span class="c-table__textth u-bold">休日料金</span><span
                    class="c-table__textth u-normal">土日祝日</span></th>
                <td class="c-table__td" colspan="3">200円 割増</td>
              </tr>
            </tbody>
          </table>
          <div class="c-table__note">
            <ul class="c-table__star">
              <li class="c-table__itemstar">７時間以上お預かりの場合　→　託児料金10%割引！</li>
              <li class="c-table__itemstar">兄弟割引き　→　二人目以降のお預かりは20％割引！（年齢が上のお子様）</li>
            </ul>
          </div>
          <div class="c-group__info">
            <div class="c-group__list">
              <ul>
                <li class="c-group__item u-bold">託児料⾦が3000円未満の場合も、一律3,000&nbsp;円となります。あらかじめご了承ください。</li>
                <li class="c-group__item">プランによらず、⼊会⾦や年会費は不要です。</li>
                <li class="c-group__item">ご予約は<a href="#" class="c-group__item--link">ご予約・空き情報確認</a>から！</li>
                <li class="c-group__item">インターネットからのご予約は、利用日前日の16時まで可能です。</li>
                <li class="c-group__item">電話予約につきましては前日16時以降も承ります。</li>
                <li class="c-group__item">前日16時以降のご予約についての詳細は、<a href="#"
                    class="c-group__item--link">こちら（→前日16時以降の予約について）</a>をご覧ください。</li>
                <li class="c-group__item">夏休み期間のお預かりについては<a href="#"
                    class="c-group__item--link">こちら（→夏休み期間のお預かりについて）</a>をご覧ください。</li>
                <li class="c-group__item">夏休み・冬休み期間のお預かりは土日祝料金となります。</li>
                <li class="c-group__item">時間料⾦の他に、朝８時より前は1,000円/時、22時以降は2,000円/時の割増料⾦をいただきます。予めご了承ください。</li>
                <li class="c-group__item">23時以降のご利⽤は、時間料⾦の他に5,000円の割増料⾦をいただきます。予めご了承ください。</li>
              </ul>
            </div>
            <div class="c-group__list">
              <div class="c-group__note u-bold">＜注意事項＞</div>
              <ul>
                <li class="c-group__item u-list__none">※ 予約時間に遅れる場合はご連絡ください。遅刻の場合も、予約時刻を利用開始時間とさせていただきます。</li>
                <li class="c-group__item u-list__none">※ 託児金額の計算は、１分単位で計算いたします。30分未満の延長の場合、30分の金額はかかりません。</li>
                <li class="c-group__item u-list__none">※ 前日以降のキャンセルは、キャンセル料が発生いたします。詳細に付きましては<a href="#"
                    class="c-group__item--link">こちら（→予約のキャンセルについて）</a>をご覧ください。</li>
                <li class="c-group__item u-list__none">※ 当日のお時間の変更は承っておりません。時間変更の場合は、当日予約にてご予約を取り直させていただきます。</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End section first -->
    <!-- Start section second -->
    <section id="p-price__second">
      <div class="l-container l-container__w980">
        <div class="c-group">
          <div class="c-group__top">
            <div class="c-group__top--left">
              <h2 class="c-gtitle">タイムチケット<span class="c-gsubtitle">有効期限：3ヶ月</span></h2>
            </div>
            <div class="c-grop__top--right">
              <p class="c-label">ランチ・おやつ・ミルク・お教室込み！</p>
            </div>
          </div>
          <table class="c-table">
            <tbody>
              <tr class="c-table__tr">
                <th class="c-table__th c-table__th--white u-text__center">平日限定<br>8:00〜18:00</th>
                <th class="c-table__th u-darkgreen">0歳</th>
                <th class="c-table__th u-darkgreen">1〜2歳</th>
                <th class="c-table__th u-darkgreen">3歳以上</th>
              </tr>
              <tr class="c-table__tr">
                <th class="c-table__th u-blue"><span class="u-bold">30時間 </span><span
                    class="c-table__text--fs14 u-bold">(300円/時オトク)</span>
                </th>
                <td class="c-table__td">54,000円</td>
                <td class="c-table__td">42,000円</td>
                <td class="c-table__td">30,000円</td>
              </tr>
              <tr class="c-table__tr">
                <th class="c-table__th u-blue"><span class="u-bold">60時間 </span><span
                    class="c-table__text--fs14 u-bold">(500円/時オトク)</span>
                </th>
                <td class="c-table__td">90,000円</td>
                <td class="c-table__td">66,000円</td>
                <td class="c-table__td">42,000円</td>
              </tr>
            </tbody>
          </table>
          <table class="c-table">
            <tbody>
              <tr class="c-table__tr">
                <th class="c-table__th c-table__th--white u-text__center">平日限定<br>8:00〜18:00</th>
                <th class="c-table__th u-darkgreen">0歳</th>
                <th class="c-table__th u-darkgreen">1〜2歳</th>
                <th class="c-table__th u-darkgreen">3歳以上</th>
              </tr>
              <tr class="c-table__tr">
                <th class="c-table__th u-blue"><span class="u-bold">30時間 </span><span
                    class="c-table__text--fs14 u-bold">(300円/時オトク)</span>
                </th>
                <td class="c-table__td">63,000円</td>
                <td class="c-table__td">51,000円</td>
                <td class="c-table__td">39,000円</td>
              </tr>
              <tr class="c-table__tr">
                <th class="c-table__th u-blue"><span class="u-bold">60時間 </span><span
                    class="c-table__text--fs14 u-bold">(500円/時オトク)</span>
                </th>
                <td class="c-table__td">108,000円</td>
                <td class="c-table__td">84,000円</td>
                <td class="c-table__td">60,000円</td>
              </tr>
            </tbody>
          </table>
          <div class="c-group__info">
            <div class="c-group__list">
              <ul>
                <li class="c-group__item">入会金はございません。</li>
                <li class="c-group__item">料金は前払いです。初回利用日のお預かり時にお支払いをお願いしております。</li>
                <li class="c-group__item">延長料金などの追加料金は、最終利用回に精算をさせていただきます。</li>
                <li class="c-group__item">購入したご本人様のみの利用に限らせていただきます。</li>
                <li class="c-group__item">チケットの有効期限は購入日から３ヶ月です。</li>
                <li class="c-group__item">利用時間が8:00～18:00以外の場合、所定の追加料金をいただきます。</li>
                <li class="c-group__item">タイムチケットは1回に２時間以上のご利⽤でお願いします。</li>
                <li class="c-group__item">タイムチケットは15分単位での消費になります。（15分未満のご利⽤は繰り上げ）</li>
              </ul>
            </div>
            <div class="c-group__list">
              <ul>
                <li class="c-group__item u-list__none">※ チケットの時間を超えてご利用される場合、それぞれの枚数のところに記載してある割金額が適用となります。</li>
                <li class="c-group__item u-list__none">※ 平⽇チケットを⼟日祝日にご利用いただいた場合、400円/時の割増料⾦となります。</li>
                <li class="c-group__item u-list__none">※ 前日16時以降のご予約でご利用いただく場合、10％の当日予約手数料を最終利用時に頂戴します。</li>
                <li class="c-group__item u-list__none">※ その他のキャンセル料に関する規定は、<a href="#"
                    class="c-group__item--link">こちら（→予約のキャンセルについて）</a>でご確認ください。</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End section second -->
    <!-- Start section third -->
    <section id="p-price__third">
      <div class="l-container l-container__w980">
        <div class="c-group">
          <div class="c-group__top">
            <div class="c-group__top--left">
              <h2 class="c-gtitle">月極のご利用について</h2>
            </div>
            <div class="c-grop__top--right">
              <p class="c-label">毎⽇、託児が必要な⽅に！</p>
            </div>
          </div>
          <table class="c-table">
            <tbody>
              <tr class="c-table__tr">
                <th class="c-table__th c-table__th--white u-text__center">平日限定<br>8:00〜18:00</th>
                <th class="c-table__th u-darkgreen">0歳</th>
                <th class="c-table__th u-darkgreen">1〜2歳</th>
                <th class="c-table__th u-darkgreen">3歳以上</th>
              </tr>
              <tr class="c-table__tr">
                <th class="c-table__th u-blue">6時間</th>
                <td class="c-table__td">140,000円</td>
                <td class="c-table__td">100,000円</td>
                <td class="c-table__td">60,000円</td>
              </tr>
              <tr class="c-table__tr">
                <th class="c-table__th u-blue">8時間</th>
                <td class="c-table__td">155,000円</td>
                <td class="c-table__td">115,000円</td>
                <td class="c-table__td">75,000円</td>
              </tr>
              <tr class="c-table__tr">
                <th class="c-table__th u-blue">10時間</th>
                <td class="c-table__td">170,000円</td>
                <td class="c-table__td">130,000円</td>
                <td class="c-table__td">90,000円</td>
              </tr>
            </tbody>
          </table>
          <table class="c-table">
            <tbody>
              <tr class="c-table__tr">
                <th class="c-table__th c-table__th--white u-text__center">土日祝日込み<br>8:00〜18:00</th>
                <th class="c-table__th u-darkgreen">9~11ヶ月</th>
                <th class="c-table__th u-darkgreen">1〜2歳児</th>
                <th class="c-table__th u-darkgreen">3歳児以上</th>
              </tr>
              <tr class="c-table__tr">
                <th class="c-table__th u-blue">6時間</th>
                <td class="c-table__td">170,000円</td>
                <td class="c-table__td">130,000円</td>
                <td class="c-table__td">90,000円</td>
              </tr>
              <tr class="c-table__tr">
                <th class="c-table__th u-blue">8時間</th>
                <td class="c-table__td">185,000円</td>
                <td class="c-table__td">145,000円</td>
                <td class="c-table__td">105,000円</td>
              </tr>
              <tr class="c-table__tr">
                <th class="c-table__th u-blue">10時間</th>
                <td class="c-table__td">200,000円</td>
                <td class="c-table__td">160,000円</td>
                <td class="c-table__td">120,000円</td>
              </tr>
            </tbody>
          </table>
          <div class="c-group__info">
            <div class="c-group__list">
              <ul>
                <li class="c-group__item">入会金はございません。</li>
                <li class="c-group__item">平日は連続した22日間、全日プランは連続した30日間のご利用が可能です。</li>
                <li class="c-group__item">定員は、0歳児2枠、1〜2歳児3枠、3歳以上3枠です。</li>
                <li class="c-group__item">8:00～18:00以外でご利用の場合、通常の一時お預かりの託児料金をいただきます。</li>
                <li class="c-group__item">伝染病などで登園基準を満たさない場合、お休みしていただくことがございます。あらかじめご了承ください。</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End section third -->
    <!-- Start section fourth -->
    <section id="p-price__fourth">
      <div class="l-container l-container__w980">
        <div class="c-group">
          <div class="c-group__top">
            <div class="c-group__top--left">
              <h2 class="c-gtitle">オプション</h2>
            </div>
            <div class="c-grop__top--right">
              <p class="c-label u-grey u-normal">※ご利⽤プランに含まれない場合</p>
            </div>
          </div>
          <div class="c-group__box">
            <div class="c-group__box--left">
              <table class="c-table c-table--type2">
                <tbody>
                  <tr class="c-table__tr">
                    <th class="c-table__th c-table__th--white c-table__th--col2"></th>
                    <th class="c-table__th u-darkgreen">乳幼児</th>
                    <th class="c-table__th u-darkgreen">大人</th>
                  </tr>
                  <tr class="c-table__tr">
                    <th class="c-table__th c-table__th--flex u-blue c-table__th--col2"><span
                        class="u-bold">ランチ</span><span class="c-table__text u-bold">11:30〜</span>
                    </th>
                    <td class="c-table__td">700円/食</td>
                    <td class="c-table__td">800円/食</td>
                  </tr>
                  <tr class="c-table__tr">
                    <th class="c-table__th c-table__th--flex u-blue c-table__th--col2"><span
                        class="u-bold">おやつ</span><span class="c-table__textfs14 u-bold">14:30〜</span>
                    </th>
                    <td class="c-table__td" colspan="2">300円/食</td>
                  </tr>
                  <tr class="c-table__tr">
                    <th class="c-table__th c-table__th--flex u-blue c-table__th--col2"><span
                        class="u-bold">ベジフルタイム</span><span class="c-table__textfs14 u-bold">10:30〜16:30〜</span>
                    </th>
                    <td class="c-table__td" colspan="2">200円/食</td>
                  </tr>
                  <tr class="c-table__tr">
                    <th class="c-table__th c-table__th--flex u-blue c-table__th--col2"><span
                        class="u-bold">ディナー</span><span class="c-table__textfs14 u-bold">18:00〜</span></th>
                    <td class="c-table__td">900円/食</td>
                    <td class="c-table__td">1000円/食</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="c-group__box--right">
              <div class="c-group__wrapimg"><img src="../assets/img/price/meal.jpg" alt="オプション"></div>
            </div>
          </div>
          <div class="c-group__info">
            <div class="c-group__list">
              <ul>
                <li class="c-group__item">食物アレルギーについては<a href="#"
                    class="c-group__item--link">こちら（→食物アレルギーについて）</a>をご覧ください。</li>
                <li class="c-group__item">離乳食について
                  <ul>
                    <li class="c-group__item--small">管理栄養士が献立作成・調理のもとお子さまに合わせたお料理を提供させていただきます。</li>
                    <li class="c-group__item--small">提供の形状も離乳食の進み具合に合わせて調理させていただきますので、ご予約時に離乳食の進み具合をご連絡ください。</li>
                    <li class="c-group__item--small">料金は料金ページに記載の通常食と同様の料金となります。</li>
                  </ul>
                </li>
                <li class="c-group__item u-mgt15">お食事の受付/提供時間について
                  <ul>
                    <li class="c-group__item--small u-list__none">食事の受付締切は昼食9:30まで、おやつ13:00まで、夕食15:00までです。</li>
                    <li class="c-group__item--small u-list__none">
                      食事提供時間は、昼食11:00入室まで、おやつは14:00入室までです。（食事提供時間外につきましては、ご相談ください。）</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="c-group__list">
              <ul>
                <li class="c-group__item u-list__none">※ *1 フルーツタイムは、AM10:00とPM16:30に希望があれば提供いたします。</li>
              </ul>
            </div>
          </div>
          <div class="c-group__sub">
            <h3 class="c-gtitle__sub">授乳</h3>
            <table class="c-table">
              <tbody>
                <tr class="c-table__tr">
                  <th class="c-table__th c-table__th--col2 u-blue">1回</th>
                  <td class="c-table__td c-table__td--col2">300円</td>
                </tr>
              </tbody>
            </table>
            <div class="c-group__info">
              <div class="c-group__list">
                <ul>
                  <li class="c-group__item">お預かり中に授乳が必要な方は、<a href="#"
                      class="c-group__item--link">こちら（→授乳について）</a>をご覧ください。以下の項目について記載しています。
                    <ul>
                      <li class="c-group__item--smallstar">園内の授乳室について</li>
                      <li class="c-group__item--smallstar">母乳の持ち込みについて</li>
                      <li class="c-group__item--smallstar">持ち物について</li>
                      <li class="c-group__item--smallstar">ご提供可能な粉ミルクの種類について</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="c-group__sub">
            <h3 class="c-gtitle__sub">お風呂</h3>
            <table class="c-table">
              <tbody>
                <tr class="c-table__tr">
                  <th class="c-table__th c-table__th--col2 u-blue">1回</th>
                  <td class="c-table__td c-table__td--col2">500円/回</td>
                </tr>
              </tbody>
            </table>
            <p class="c-group__text u-mgt34">こんなときに利用します。</p>
            <div class="c-group__list">
              <ul>
                <li class="c-group__item--square">夜のお預かりを希望されるとき（20時以降のお迎え）</li>
                <li class="c-group__item--square">トイレに失敗してしまったとき</li>
                <li class="c-group__item--square">体調が悪くて戻してしまったとき</li>
                <li class="c-group__item--square">汗をかいてしまったとき</li>
              </ul>
            </div>
            <p class="c-group__text">その他リクエストがございましたらお申し付けください。</p>
            <div class="c-group__info c-group__info--sub">
              <div class="c-group__list">
                <ul>
                  <li class="c-group__item">詳細については、<a href="#"
                      class="c-group__item--link">こちら（→お風呂・歯磨きについて）</a>をご覧ください。
                    <ul class="c-group__listsub">
                      <li class="c-group__item u-list__none">※ 入浴後の着替えをお持ち下さい。</li>
                      <li class="c-group__item u-list__none">※ 37.5℃以上のお熱が継続するお子さまには、大事をとりご依頼があった場合でもこちらの判断にて中止とさせていただきます。（中止の場合、料金はいただきません。）</li>
                      <li class="c-group__item u-list__none">※ お子さまの様子によって、シャワーあるいは沐浴となる場合がございます。</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="c-group__sub">
            <h3 class="c-gtitle__sub">教室</h3>
            <table class="c-table">
              <tbody>
                <tr class="c-table__tr">
                  <th class="c-table__th c-table__th--col2 u-blue">各種</th>
                  <td class="c-table__td c-table__td--col2">1,000円</td>
                </tr>
              </tbody>
            </table>
            <p class="c-group__text">各お教室を、日替わりで実施しております。園内の1歳以上は参加必須です。</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End section fourth -->
    <!-- Start section fifth -->
    <section id="p-price__fifth">
      <div class="l-container l-container__w980">
        <div class="c-group">
          <div class="c-group__top">
            <div class="c-group__top--left">
              <h2 class="c-gtitle">提携法人様のご利用について</h2>
            </div>
          </div>
          <div class="c-group__qna">
            <dl class="c-group__sentence">
              <dt class="c-group__question">事業所内託児所として利用</dt>
              <dd class="c-group__answer">はないとでは、事業所内託児所としてご利用が可能な法人様向けプランもご用意しています。<br><a href="#" class="c-group__item--link">→詳しくはこちら</a></dd>
            </dl>
            <dl class="c-group__sentence">
              <dt class="c-group__question">「託児付き」を始めませんか？</dt>
              <dd class="c-group__answer">ランチ、カフェ、美容院、ネイルサロン、エステ、結婚式など、様々な場所で、「託児付き」を実現する取り組みも行っています。<br><a href="#" class="c-group__item--link">→詳しくはこちら</a></dd>
            </dl>
            <dl class="c-group__sentence">
              <dt class="c-group__question">キッズスペースの設置・運営</dt>
              <dd class="c-group__answer">臨時・常設でご指定のスペースにキッズスペースを設置・運営する出張サービスを行っています。<br><a href="#" class="c-group__item--link">→詳しくはこちら</a></dd>
            </dl>
            <dl class="c-group__sentence">
              <dt class="c-group__question">保育士の派遣・出張</dt>
              <dd class="c-group__answer">スペースはあるけど、保育士がいない！今日だけ保育士が足りない！などのご要望にお応えします。<br><a href="#" class="c-group__item--link">→詳しくはこちら</a></dd>
            </dl>
          </div>
        </div>
      </div>
    </section>
    <!-- End section fifth -->
    <%- include('_partials/contact'); -%>
      <div class="c-flink is-notsp">
        <div class="l-container l-container__w980">
          <ul class="c-flink__list">
            <li class="c-flink__item"><a href="./about/index.html">はないとについて</a></li>
            <li class="c-flink__item"><a href="./">料金</a></li>
            <li class="c-flink__item"><a href="#">1日の流れ</a></li>
            <li class="c-flink__item"><a href="#">スタッフ紹介</a></li>
            <li class="c-flink__item"><a href="#">ブログ</a></li>
            <li class="c-flink__item"><a href="./faq.html">よくある質問</a></li>
          </ul>
        </div>
      </div>
  </main>
  <!-- @@content -->