<!-- start section about -->
<section class="c-about">
    <div class="c-about__wrapimg c-about__decorleft">
        <picture>
            <source media="(max-width: 1024px)" srcset="./assets/img/decorlefttab.png">
            <img class="c-plane__img" src="./assets/img/decorleft.png" alt="大人が大人の時間を過ごすとき、子どもにも充実した時間を。">
        </picture>
    </div>
    <div class="c-about__main">
        <h2 class="c-about__title">大人が大人の時間を過ごすとき、<br>
            子どもにも充実した時間を。</h2>
        <p class="c-about__text">はないとは、名古屋駅徒歩6分の場所にある「一時お預かり専用」の託児所です。<br
                class="is-notsp">自身も利用者である代表が、利便性がよく、かつ子どもにとって<br class="is-notsp">幸せな遊び場を作りたいという強い思いでオープンしました。
        </p>
        <p class="c-about__text">はないとでは、お子さまが保護者さまと離れている間も<br class="is-notsp">楽しく充実した時間を過ごせるよう、安心安全な環境をお約束します。</p>
        <a href="#" class="c-about__btn"><span class="c-about__btntext">はないとについて</span></a>
        <div class="c-about__wrapbanner is-sponly"><img src="./assets/img/banner.jpg" alt="Banner" class="c-about__banner">
    </div>
    </div>
    <div class="c-about__wrapimg c-about__decorright">
        <picture>
            <source media="(max-width: 1024px)" srcset="./assets/img/decorrighttab.png">
            <img class="c-plane__img" src="./assets/img/decorright.png" alt="大人が大人の時間を過ごすとき、子どもにも充実した時間を。">
        </picture>
    </div>
</section>
<!-- end section about -->