<!-- start section company -->
<section class="c-company">
    <div class="l-container l-container__w980">
        <h2 class="c-title">パートナー企業様</h2>
        <div class="c-company__list">
            <div class="c-company__wrapimg"><a href="#" target="_blank"><img src="./assets/img/logo1.png" alt="Comapny 1"></a></div>
            <div class="c-company__wrapimg"><a href="#" target="_blank"><img src="./assets/img/logo2.png" alt="Business Centre"></a></div>
            <div class="c-company__wrapimg"><a href="#" target="_blank"><img src="./assets/img/logo3.png" alt="Main Mode"></a></div>
            <div class="c-company__wrapimg"><a href="#" target="_blank"><img src="./assets/img/logo4.png" alt="Human"></a></div>
            <div class="c-company__wrapimg"><a href="#" target="_blank"><img src="./assets/img/logo5.png" alt="Mecxi Dental"></a></div>
            <div class="c-company__wrapimg"><a href="#" target="_blank"><img src="./assets/img/logo6.png" alt="Togaru"></a></div>
            <div class="c-company__wrapimg"><a href="#" target="_blank"><img src="./assets/img/logo7.png" alt="Co-learning Spxe"></a></div>
            <div class="c-company__wrapimg"><a href="#" target="_blank"><img src="./assets/img/logo8.png" alt="Berlitz"></a></div>
        </div>
        <a href="#" class="c-btn c-company__btnmore">パートナー企業様一覧へ</a>
    </div>
</section>
<!-- end section company -->