<!-- start section contact -->
<section class="c-contact">
    <div class="l-container l-container__w980">
        <div class="c-contact__main">
            <div class="c-contact__col c-contact__left">
                <p class="c-contact__text">お電話でのお問い合わせはこちら</p>
                <p class="c-contact__tel pc-only">052-485-5008</p>
                <a href="tel:0524855008" class="c-contact__tel not-pccontent">052-485-5008</a>
                <p class="c-contact__text">受付時間 8:00〜22:00</p>
            </div>
            <div class="c-contact__col c-contact__right">
                <p class="c-contact__reserve">空き状況のご確認・ご予約はこちら</p>
                <a href="#" class="c-btnred c-contact__btn">
                    <span class="c-contact__btntext"> オンライン予約フォーム </span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- end section contact -->