<footer class="c-footer">
  <div class="l-container l-container__w980">
    <div class="c-footer__top"><a href="<%= BASE_URL %>" class="c-footer__logo"><img src="./assets/img/ftlogo.png"
          alt="Kindergaten Hanaito"></a>
      <p class="c-footer__info not-sp">〒450-0002<br>愛知県名古屋市中村区名駅2丁目41-3 サンエスケービル4階B
      </p>
    </div>
    <div class="c-footer__main">
      <ul class="c-footer__nav">
        <li class="c-footer__link">運営会社</li>
        <li class="c-footer__link">プライバシーポリシー</li>
        <li class="c-footer__link">サイトマップ</li>
        <li class="c-footer__link">パートナー企業様 </li>
      </ul>
      <div class="c-footer__copyright">© HANAITO KODOMOEN ALL RIGHTS RESERVED.</div>
    </div>
  </div>
</footer>                  