<footer class="c-footer">
  <div class="l-container l-container__w980">
    <div class="c-footer__top"><a href="<%= BASE_URL %>" class="c-footer__logo">
        <picture>
          <source media="(max-width:767px)" srcset="./assets/img/ftlogosp.png"><img src="./assets/img/ftlogo.png"
            alt="Kindergaten Hanaito">
        </picture>
      </a>
      <p class="c-footer__info not-sp">〒450-0002<br>愛知県名古屋市中村区名駅2丁目41-3 サンエスケービル4階B
      </p>
      <div class="c-footer__social">
        <div class="c-footer__socialitem">
          <a href="https://www.facebook.com/" target="_blank">
            <img src="./assets/img/facebook-logo-button.png" alt="Facebook">
          </a>
        </div>
        <div class="c-footer__socialitem">
          <a href="https://www.instagram.com/" target="_blank">
            <img src="./assets/img/instagram-logo.png" alt="Instagram">
          </a>
        </div>
        <div class="c-footer__socialitem">
          <a href="https://twitter.com/" target="_blank">
            <img src="./assets/img/twitter-logo-button.png" alt="Twitter">
          </a>
        </div>
      </div>
    </div>
    <div class="c-footer__main">
      <ul class="c-footer__nav">
        <li class="c-footer__link"><a href="#">運営会社</a></li>
        <li class="c-footer__link"><a href="#">プライバシーポリシー</a></li>
        <li class="c-footer__link"><a href="#">サイトマップ</a></li>
        <li class="c-footer__link"><a href="#">パートナー企業様 </a></li>
      </ul>
      <div class="c-footer__copyright">© HANAITO KODOMOEN ALL RIGHTS RESERVED.</div>
    </div>
  </div>
</footer>