<div class="c-gallery not-sp">
    <div class="c-gallery__list">
        <div class="c-gallery__row">
            <div class="c-gallery__item c-gallery__one pc-only"><img class="c-gallery__img"
                    src="./assets/img/slider1.jpg" alt="children"></div>
            <div class="c-gallery__item c-gallery__two">
                <picture>
                    <source media="(max-width:1024px)" srcset="./assets/img/slider2tab.jpg">
                    <img class="c-gallery__img" src="./assets/img/slider2.jpg" alt="boy">
                </picture>
            </div>
            <div class="c-gallery__item c-gallery__three"><img class="c-gallery__img" src="./assets/img/slider3.jpg"
                    alt="teacher"></div>
            <div class="c-gallery__item c-gallery__four"><img class="c-gallery__img" src="./assets/img/slider4.jpg"
                    alt="children"></div>
            <div class="c-gallery__item c-gallery__fine"><img class="c-gallery__img" src="./assets/img/slider5.jpg"
                    alt="girl"></div>
            <div class="c-gallery__item c-gallery__six"><img class="c-gallery__img" src="./assets/img/slider1.jpg"
                    alt="children"></div>
            <div class="c-gallery__item c-gallery__seven">
                <picture>
                    <source media="(max-width:1024px)" srcset="./assets/img/slider21tab.jpg">
                    <img class="c-gallery__img" src="./assets/img/slider2.jpg" alt="boy">
                </picture>
            </div>
            <div class="c-gallery__item c-gallery__eight pc-only"><img class="c-gallery__img"
                    src="./assets/img/slider3.jpg" alt="teacher">
            </div>
        </div>
        <div class="c-gallery__row">
            <div class="c-gallery__item c-gallery__one pc-only"><img class="c-gallery__img"
                    src="./assets/img/slider1.jpg" alt="children">
            </div>
            <div class="c-gallery__item c-gallery__two">
                <picture>
                    <source media="(max-width:1024px)" srcset="./assets/img/slider2tab.jpg">
                    <img class="c-gallery__img" src="./assets/img/slider2.jpg" alt="boy">
                </picture>
            </div>
            <div class="c-gallery__item c-gallery__three"><img class="c-gallery__img" src="./assets/img/slider3.jpg"
                    alt="teacher"></div>
            <div class="c-gallery__item c-gallery__four"><img class="c-gallery__img" src="./assets/img/slider4.jpg"
                    alt="children"></div>
            <div class="c-gallery__item c-gallery__fine"><img class="c-gallery__img" src="./assets/img/slider5.jpg"
                    alt="girl"></div>
            <div class="c-gallery__item c-gallery__six"><img class="c-gallery__img" src="./assets/img/slider1.jpg"
                    alt="children"></div>
                    <div class="c-gallery__item c-gallery__seven">
                        <picture>
                            <source media="(max-width:1024px)" srcset="./assets/img/slider21tab.jpg">
                            <img class="c-gallery__img" src="./assets/img/slider2.jpg" alt="boy">
                        </picture>
                    </div>
            <div class="c-gallery__item c-gallery__eight pc-only"><img class="c-gallery__img"
                    src="./assets/img/slider3.jpg" alt="teacher">
            </div>
        </div>
    </div>
</div>