<div class="c-gallery not-sp">
    <div class="c-gallery__list">
        <div class="c-gallery__row">
            <div class="c-gallery__item c-gallery__one pc-only"></div>
            <div class="c-gallery__item c-gallery__two"></div>
            <div class="c-gallery__item c-gallery__three"></div>
            <div class="c-gallery__item c-gallery__four"></div>
            <div class="c-gallery__item c-gallery__fine"></div>
            <div class="c-gallery__item c-gallery__six"></div>
            <div class="c-gallery__item c-gallery__seven"></div>
            <div class="c-gallery__item c-gallery__eight pc-only"></div>
        </div>
        <div class="c-gallery__row">
            <div class="c-gallery__item c-gallery__one pc-only"></div>
            <div class="c-gallery__item c-gallery__two"></div>
            <div class="c-gallery__item c-gallery__three"></div>
            <div class="c-gallery__item c-gallery__four"></div>
            <div class="c-gallery__item c-gallery__fine"></div>
            <div class="c-gallery__item c-gallery__six"></div>
            <div class="c-gallery__item c-gallery__seven"></div>
            <div class="c-gallery__item c-gallery__eight pc-only"></div>
        </div>
    </div>
</div>