<!-- start section info -->
<section class="c-info">
    <div class="l-container l-container__w980">
        <div class="c-info__main">
            <div class="c-info__col c-info__left">
                <div class="c-info__leftinner">
                    <p class="c-info__address">〒450-0002<br>
                        愛知県名古屋市中村区名駅2丁目41-3サンエスケービル4階B
                    </p>
                    <p class="c-info__time">営業時間 / 8:00〜22:00<br>
                        ( 時間外保育 18:00-22:00 )
                    </p>
                    <p class="c-info__tel">Tel. <span class="is-pconly">052-485-5008</span><a href="tel:0524855008"
                            class="is-notpccontent">052-485-5008</a></p>
                    <p class="c-info__fax">Fax. 052-485-5008 <br class="is-sponly"><span
                            class="c-info__mobiletext">Mobile. <span class="c-info__mobile is-pconly">
                                090-1412-8710</span><a href="tel:09014128710" class="is-notpccontent c-info__mobile">
                                090-1412-8710</a></span></p>
                </div>
            </div>
            <div class="c-info__col c-info__right">
                <div class="c-info__rightinner">
                    <h2 class="c-info__title">アクセスについて</h2>
                    <h3 class="c-info__heading c-info__station">JR・名鉄・近鉄・地下鉄各線 名古屋駅より 徒歩6分</h3>
                    <p class="c-info__stationtext">名古屋駅1番出口を出て左手『那古野』交差点方面にまっすぐ進み、ローソンを越えた先、左手に見えるセブンイレブン隣のサンエスケービルです。
                        エムテック名駅パーキング奥よりエレベーターで4階までお上がり下さい。</p>
                    <h3 class="c-info__heading c-info__troller">ベビーカーをご利用の方へ</h3>
                    <p class="c-info__trollertext">地下鉄から地上へは大名古屋ビルヂングエレベーターのご利用が便利です。</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section info -->