<!-- start section news -->
<section class="c-news">
    <div class="l-container l-container__w980">
        <div class="c-news__main">
            <div class="c-news__col c-news__left">
                <div class="c-news__top">
                    <div class="c-news__heading">
                        <h2 class="c-title c-news__title">お知らせ</h2>
                        <p class="c-subtitle c-news__subtitle">NEW</p>
                    </div>
                    <a href="" class="c-news__more">お知らせ一覧へ</a>
                </div>
                <div class="c-news__list">
                    <% if (typeof news !='undefined' ) { %>
                        <% news.forEach(item=> { %>
                            <a href="<%= item.link%>">
                                <div class="c-news__item">
                                    <div class="c-news__date">
                                        <%= item.date%>
                                    </div>
                                    <div class="c-news__post">
                                        <%= item.title%>
                                    </div>
                                </div>
                            </a>
                            <% })} %>
                </div>
            </div>
            <div class="c-news__col c-news__right">
                <picture><source media="(max-width:767)" srcset="./assets/img/fbsp.jpg"><img src="./assets/img/fb.jpg" alt="facebook"></picture></div>
        </div>
    </div>
</section>
<!-- end section news -->