<!-- start section point-->
<section class="c-point">
    <div class="c-point__top">
        <h2 class="c-point__title"><span class="c-point__subtitle">POINT</span>は
            な
            い
            と
            の
            特
            色</h2>
        <a href="# " class="c-point__btn">詳しく見る</a>
    </div>
    <div class="c-point__main">
        <div class="c-point__list">
            <div class="c-point__item">
                <div class="c-point__feature">
                    <picture>
                        <source media="(max-width: 767px)" srcset="./assets/img/section2_img1sp.jpg">
                        <source media="(max-width: 1024px)" srcset="./assets/img/section2_img1tab.jpg">
                        <img class="c-point__featureimg" src="./assets/img/section2_img1.jpg"
                            alt="仕事もお買い物にも便利な駅近！名古屋駅より徒歩6分">
                    </picture>
                </div>
                <div class="c-point__info c-point__red">
                    <h3 class="c-point__itemtitle">仕事もお買い物にも便利な駅近！名古屋駅より徒歩6分</h3>
                    <p class="c-point__desc">仕事・ショッピング・冠婚葬祭・通院・習いごと等の託児に便利な立地です。</p>
                </div>
            </div>
            <div class="c-point__item">
                <div class="c-point__feature">
                    <picture>
                        <source media="(max-width: 767px)" srcset="./assets/img/section2_img2sp.jpg">
                        <source media="(max-width: 1024px)" srcset="./assets/img/section2_img2tab.jpg">
                        <img class="c-point__featureimg" src="./assets/img/section2_img2.jpg"
                            alt="持ち物いらずだから楽チン！手ぶらでそのままお預かり">
                    </picture>
                </div>
                <div class="c-point__info c-point__blue">
                    <h3 class="c-point__itemtitle">持ち物いらずだから楽チン！<br class="not-sp">手ぶらでそのままお預かり</h3>
                    <p class="c-point__desc">オムツ、着替え、ごはんやおやつ、お飲みもの、育児用品を完備。手ぶらでそのままお越しください。</p>
                </div>
            </div>
            <div class="c-point__item">
                <div class="c-point__feature">
                    <picture>
                        <source media="(max-width: 767px)" srcset="./assets/img/section2_img3sp.jpg">
                        <source media="(max-width: 1024px)" srcset="./assets/img/section2_img3tab.jpg">
                        <img class="c-point__featureimg" src="./assets/img/section2_img3.jpg"
                            alt="木製・知育・大型玩具等好奇心を刺激するおもちゃをご用意">
                    </picture>
                </div>
                <div class="c-point__info c-point__green">
                    <h3 class="c-point__itemtitle">木製・知育・大型玩具等好奇心を刺激するおもちゃをご用意</h3>
                    <p class="c-point__desc">好奇心と想像力を鍛えるおもちゃを保護者・保育者の両視点からセレクトしました。</p>
                </div>
            </div>
            <div class="c-point__item">
                <div class="c-point__feature">
                    <picture>
                        <source media="(max-width: 767px)" srcset="./assets/img/section2_img4sp.jpg">
                        <source media="(max-width: 1024px)" srcset="./assets/img/section2_img4tab.jpg">
                        <img class="c-point__featureimg" src="./assets/img/section2_img4.jpg"
                            alt="管理栄養士監修！アレルギー対応可！園内調理の離乳食と子どもランチを提供">
                    </picture>
                </div>
                <div class="c-point__info c-point__pink">
                    <h3 class="c-point__itemtitle">管理栄養士監修！アレルギー対応可！園内調理の離乳食と子どもランチを提供</h3>
                    <p class="c-point__desc">食材から徹底的にこだわった離乳食とランチをご用意しています。</p>
                </div>
            </div>
        </div>
        <div class="c-point__features">
            <div class="c-point__featureitem c-point__darkgreen"><img src="./assets/img/time.png"
                    alt="1時間〜当日予約で 受付可能"><span class="c-point__featuretext">1時間〜当日予約で<br>受付可能</span></div>
            <div class="c-point__featureitem c-point__purple"><img src="./assets/img/girl.png" alt="安心の担当保育士制度を採用"><span
                    class="c-point__featuretext">安心の担当保育士<br>制度を採用</span></div>
            <div class="c-point__featureitem c-point__darkpink"><img src="./assets/img/shower.png"
                    alt="お風呂・シャワー完備"><span class="c-point__featuretext">お風呂・シャワー<br>完備</span></div>
            <div class="c-point__featureitem c-point__yellow"><img src="./assets/img/home.png"
                    alt="137㎡のひろびろ保育スペース"><span class="c-point__featuretext">137㎡のひろびろ<br>保育スペース</span></div>
        </div>
    </div>
</section>
<!-- end section point-->